# This file is for deploying the kaspr CRDs and operator application.

operator:
  # Deploy the kaspr operator
  enable: True
  
  namespaceOverride: ""

  # Set to `True` if you want the operator to be "cluster-wide" and operate over all namespaces.
  # If false, 
  watchAnyNamespace: True

  # Specific namespace to watch over. The namespace the operator is deployed to is automatically included.
  # If you set `watchNamespaces` to the same value as ``.Release.Namespace` (e.g. `helm ... --namespace $NAMESPACE`),
  # the chart will fail because duplicate RoleBindings will be attempted to be created in the same namespace
  watchNamespaces: []

  rbac:
    # Set to `yes` to create all necessary roles and role bindings for the operator to function.
    # Otherwise, you will need to manage RBAC manually.
    create: yes
  createGlobalResources: true

  image:
    repository: kasprio/kaspr-operator
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Automatically mount a ServiceAccount's API credentials?
    automount: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""

  podAnnotations: {}
  podLabels: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    type: ClusterIP  
    port: 80

  env:
    # Optional environment variables for the operator
    # Set initial maximum replicas for HPA (if not specified, operator uses default)
    initialMaxReplicas: ""
    # Set HPA scale up policy - number of pods to add per scaling step
    hpaScaleUpPolicyPodsPerStep: ""
    # Set HPA scale up policy - period in seconds between scaling steps
    hpaScaleUpPolicyPeriodSeconds: ""
    # Set timeout in seconds for StatefulSet deletion operations
    statefulsetDeletionTimeoutSeconds: ""
    # Enable or disable client status checks
    clientStatusCheckEnabled: ""
    # Set client status check timeout in seconds
    clientStatusCheckTimeoutSeconds: ""
    # Enable automatic detection and recovery of members stuck in rebalancing state (default: true)
    hungMemberDetectionEnabled: ""
    # Time threshold in seconds before a rebalancing member is considered hung (default: 300)
    hungRebalancingThresholdSeconds: ""

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}
